NODE_ENV=""
PORT=

MONGO_URI=""
MONGO_DB=""

BETTER_AUTH_SECRET=""
BASE_URL=""
SYSTEM_MAINTENANCE_KEY=""
ALLOWED_ORIGINS=""

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

MS_CLIENT_ID=""
MS_CLIENT_SECRET=""

TMDB_API_KEY=""
TMDB_BASE_URL=""

OMDB_API_KEY=""
OMDB_BASE_URL=""

VAPID_PUBLIC_KEY=""
VAPID_PRIVATE_KEY=""
VAPID_SUBJECT=""
