main {
    display: grid;
    justify-content: center;
    text-align: center;
    padding-top: 2rem;
}

.header {
    margin-bottom: 3rem;

    .logo-wrapper {
        margin: 0 auto 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 70px;
            height: 70px;
            box-shadow: 0 8px 24px var(--primary-hover);
            border-radius: 18px;
        }
    }

    h1 {
        font-size: 2rem;
        font-weight: 800;
        margin: 0;
    }

    p {
        color: var(--text-secondary);
        margin-top: 0.5rem;
    }
}

.auth {
    display: grid;
    justify-content: center;
    gap: 1rem;

    button {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 1rem;
        background-color: var(--border);
        border: 1px solid var(--border);
        border-radius: 10px;
        padding: 0.25rem 0.5rem;

        img {
            width: 2rem;
            height: 2rem;
        }

        span {
            text-align: center;
            width: 100%;
            font-size: large;
        }
    }
}
