.logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 35px;
        height: 35px;
    }
}

.profile {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    color: var(--text-primary);
    text-decoration: none;

    svg {
        color: var(--text-secondary);
    }

    .info {
        display: grid;

        .email {
            color: var(--text-secondary);
            font-size: x-small;
        }
    }
}

.body {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 2rem;

    h3 {
        flex: 1;
        font-size: 1rem;
        font-weight: 400;
        color: var(--text-primary);
    }

    .meta {
        display: flex;
        gap: 1rem;
        color: var(--text-secondary);

        .shared,
        .items {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            font-size: 0.85rem;
            line-height: 1;
        }
    }
}

.actions button {
    background: transparent;
    border: none;
    margin: 0.25rem 0 0 0.5rem;
    border-radius: 6px;
    cursor: pointer;
}

.create-section {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    gap: 0.25rem;
    background: var(--bg-secondary);
    z-index: 100;
    border-radius: 14px 14px 0 0;
    border-top: 1px solid var(--border);
}

.create-section input {
    flex: 1;
    background: transparent;
    border: none;
    border-radius: 14px 0 0 0;
    padding: 1rem 1rem;
    color: var(--text-primary);
    font-size: 1rem;

    &:focus {
        outline: none;
    }
}

.create-section button {
    background: var(--primary);
    border: none;
    border-radius: 0 14px 0 0;
    padding: 1rem 1rem;
    color: var(--text-primary);
    font-size: 1rem;

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}
